{% extends 'base.html.twig' %}

{% block body %}
    Order:
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>order_number</th>
                <th>customer_id</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.orderNumber }}</td>
                <td>{{ order.customer.id }}</td>
            </tr>
        </tbody>
    </table>

    Customer:
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ order.customer.id }}</td>
                <td>{{ order.customer.name }}</td>
                <td>{{ order.customer.age }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
