{% extends 'base.html.twig' %}

{% block body %}
    Customer:
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>name</th>
                <th>age</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.age }}</td>
            </tr>
        </tbody>
    </table>

    Orders:
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>order_number</th>
                <th>customer_id<td></td>
            </tr>
        </thead>
        <tbody>
        {% for order in customer.orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.orderNumber }}</td>
                <td>{{ order.customer.id }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
