{% extends 'base.html.twig' %}

{% form_theme form 'form/common.html.twig' %}

{% block body %}
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}

    <div>
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
    </div>

    <div>
        {{ form_label(form.captcha) }}
        {{ form_widget(form.captcha) }}
    </div>

    {{ form_end(form) }}

    <div id="message"></div>
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function(){
        $('form').submit(function(){

            var email = $('#form_email').val();

            $('#message').html("");

            if ($.trim(email) == "") {
                $('#message').html('请输入邮箱地址');
                return false;
            }
            if(!email.match(/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/)) {
                $('#message').html('请输入有效的邮箱地址');
                return false;
            }

            $.ajax({
                type: 'POST',
                url: '{{ path('user_password_send_email') }}',
                data: $(this).serialize(),
                dataType: 'JSON'
            }).done(function(data){
                countdown();
            }).fail(function(data){
                $('#message').html(data.responseJSON.message);
            });
            return false;
        });
    });

    var wait_seconds = 60;
    function countdown() {
        if (wait_seconds == 0) {
            $('#form_send').removeAttr("disabled");
            $('#message').html("");
            wait_seconds = 60;
        } else {
            $('#form_send').attr("disabled", true);
            $('#message').html("重置密码邮件已经发送至您的邮箱，" + wait_seconds + "秒后可重新发送。");
            wait_seconds--;
            setTimeout(function(){
                countdown();
            }, 1000);
        }
    }
</script>
{% endblock %}
