{% extends 'base.html.twig' %}
{% block body %}
    <a href="{{ path('users_new') }}">Add User</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th colspan="3">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.password }}</td>
                <td><a href="/users/{{ user.id }}/edit">Update</a></td>
                <td>
                    <!--参考http://symfony.com/doc/current/cookbook/routing/method_parameters.html-->
                    <form action="{{ path('users_delete', {'id': user.id}) }}" method="POST">
                        <input type="hidden" name="_method" value="DELETE" />
                        <input type="submit" value="Delete" onclick="return confirm('你真的确定要删除吗');" />
                    </form>
                </td>
                <td><a href="{{ path('user_profiles', {'user_id': user.id}) }}">Profile</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    total count: {{ users|length }}
{% endblock %}