{% extends 'base.html.twig' %}
{% block body %}
    <form action="{{ path('user_login') }}" method="POST">
        <div>
            <label for="email">Email</label>
            <input id="email" type="text" name="email" />
        </div>

        <div>
            <label for="password">Password</label>
            <input type="password" name="password" />
        </div>

        <div>
            <input type="submit" value="Login" />
        </div>
    </form>

    <div>
        <a href="{{ path('user_registration_register') }}">Register</a>
        <a href="{{ path('user_password_request') }}">Forgot password?</a>
    </div>

    <div>
        <a href="{{ path('qq_login') }}"><img src="{{ asset('bundles/framework/images/qq_login_logo.png') }}" /></a>
        <a href="{{ path('weibo_login') }}"><img src="{{ asset('bundles/framework/images/weibo_login_logo.png') }}" /></a>
    </div>

{% endblock %}