{% extends 'base.html.twig' %}
{% block body %}
    <ul>
        {% if errors is defined %}
            {% for error in errors %}
                <li>{{ error.message }}</li>
            {% endfor %}
        {% endif %}
    </ul>

    <form action="{{ path('user_registration_create') }}" method="POST">
        <div>
            <label for="user_name">Name</label>
            <input id="user_name" type="text" name="user[name]" value="{{ user.name }}" />
        </div>

        <div>
            <label for="user_email">Email</label>
            <input id="user_email" type="text" name="user[email]" value="{{ user.email }}" />
        </div>

        <div>
            <label for="user_password">Password</label>
            <input id="user_password" type="text" name="user[password]" value="{{ user.password }}"/>
        </div>

        <div>
            <input type="submit" />
        </div>
    </form>
{% endblock %}
